---
const pageTitle = "Blog";
import '../styles/global.css';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<h1>Blog Entry</h1>
        <h2>Very insightful blog entry will go here</h2>

    <ul>
      <li><a href="/posts/post-1/" title="Open my first post in new tab">Post 1</a></li>
    </ul>
	<Footer />
    </body>
</html>
