---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page!!!";
---

<BaseLayout pageTitle={pageTitle}>
		<h1>Robin Mailhot	</h1>
</BaseLayout>